YYB_WEB_USER=admin
YYB_WEB_PASSWORD=replace-with-a-strong-password
YYB_BIND_ADDRESS=0.0.0.0
YYB_PORT=8000
YYB_KEEPALIVE_INTERVAL=30m
YYB_KEEPALIVE_AHEAD=45m
QL_URL=http://qinglong:5700
QL_CLIENT_ID=
QL_CLIENT_SECRET=
YYB_QINGLONG_SERVER=yyb-go:8000
YYB_QINGLONG_REPO=SuperNaiBA_YYB-GO-Script
